*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: "Raleway",sans-serif;
    background-color: #ecf0f1;
}
.toolbar{
    height: 12vh;
    background-color: #2d3436;
    display: flex;
    align-items: center;
    padding-left: 5rem;
}
.filter-conatiner{
    height:60%;
    width: 14rem;
    margin-right: 4rem;
    border-radius: 0.2rem;
    background-color: #6d7c7e;
    display: flex;
}
.filter{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter_color{
    height: 40%;
    width: 40%;
    border-radius: 0.5rem;
}
.pink{
    background-color: pink;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.black{
    background-color: black;
}
.action-container{
    height: 60%;
    width: 8rem;
    background-color: #6d7c7e;
    border-radius: 00.2rem;
    display: flex;
    border-radius: 0.2rem solid;
}
.icon_container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_container{
    position:absolute;
    height:18rem;
    width:36rem;
    
    background-color: brown;
    left: calc((100vw - 36rem)/2);
    top:30vh;
    display: flex;
}
.input_container{
    height:100%;
    width: 73%;
}
.modal_input{
   height:100%;
   width:100%;
   outline: none;
   padding: 2rem 3rem;
   font-family: "Raleway", sans-serif;
   font-size:1.5rem;
   line-height: 145%;
   font-weight: 400;
}
.modal_filter_container{
    width:27%;
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.7rem 1.2rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.698);
}
.modal_filter_container>.filter{
    height:15%;
    width:60%;
}
.border{
    border:0.2rem solid white ;
}
.main_container{
    height:88vh;
    
    padding-top: 2rem;
    padding-left: 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.task_filter{
    height: 7%;
}
.task_container{
    height: 10rem;
    width:16rem;
    background-color: #fff;
    
}
.task_desc_container{
    padding-left: 0.5rem;
}
.task_desc{
    text-align: center ;
}
.uid{
    color:#444;
}